
@{
    ViewBag.Title = "Calculator";
}

<h2>Calculator</h2>

<form action="../Home/Result" method="post">
    <input type="number" name="num1" />
    <input type="number" name="num2" /><br/>
    <input type="radio" name="operation" value="Plus" id="Plus" />Plus<br/>
    <input type="radio" name="operation" value="Minus" id="Minus" />Minus<br/>
    <input type="radio" name="operation" value="Multiply" id="Mulitply"/>Multiply<br/>
    <input type="radio" name="operation" value="Divide" id="Divide"/>Divide<br/>
    <input type="submit" name="submit"/>
</form>




